%h3 Add comment
= simple_form_for obj do |f|
  - if obj.errors.any?
    #error_explanation
      %h2= "#{pluralize(obj.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - obj.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :content
    = f.text_field :content, class: 'form-control'

    = f.hidden_field :project_id
    = f.hidden_field :task_id

  .actions.form-group
    = f.submit 'Save', class: 'btn btn-default'
