= simple_form_for @comment do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :content
    = f.text_field :content

  = f.hidden_field :user_id, value: current_user.id
  
  - if resource == 'project'
    = f.hidden_field :project_id, value: resource_id
  - else
    = f.hidden_field :task_id, value: resource_id

  .actions.form-group
    = f.submit 'Save'
