= simple_form_for [project,task] do |f|
  - if task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :name
  .field
    = f.input :description
  .field
    = f.input :deadline
  .field
    = f.association :priority
  .field
    = f.association :status
  .actions
    = f.submit 'Save'
