%h1 Listing tasks

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Deadline
      %th
      %th
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.name
        %td= task.description
        %td= task.deadline
        %td= link_to 'Show', project_task_path(project, task)
        %td= link_to 'Edit', edit_project_task_path(project,task)
        %td= link_to 'Destroy', project_task_path(project, task), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Task', new_project_task_path
