-provide(:title, task.name)

%table.responstable
  %tbody
    %tr
      %td Name:
      %td= task.name
    %tr
      %td Description
      %td= task.description
    %tr
      %td Deadline
      %td= task.deadline
    %tr
      %td Status
      %td= task.status.name
    %tr
      %td Priority
      %td= task.priority.name
    %tr
      %td Owner
      %td= task.user.email

= link_to 'Edit', edit_project_task_path(project,task)
\|
= link_to 'Back', project_tasks_path

= render 'comments/comment'

%h3 Add comment to task
= text_area_tag 'comment_content', nil, id: 'comment_content', class: 'form-control'
= hidden_field :task, :id, value: task.id
= hidden_field :project, :id, value: project.id
%br
= button_tag 'Add Comment', id: 'comment_button', class: 'btn btn-primary'
