%table.table.table-striped
  %tbody
    %tr
      %td Name:
      %td= task.name
    %tr
      %td Description
      %td= task.description
    %tr
      %td Deadline
      %td= task.deadline
    %tr
      %td Status
      %td= task.status.name
    %tr
      %td Priority
      %td= task.priority.name
    %tr
      %td Owner
      %td= task.user.email

= link_to 'Edit', edit_project_task_path(project,task)
\|
= link_to 'Back', project_tasks_path

= render 'comments/comment'
= render 'comments/form', obj: task.comments.build