%p#notice= notice

%p
  %b Name:
  = task.name
%p
  %b Description:
  = task.description
%p
  %b Deadline:
  = task.deadline

= link_to 'Edit', edit_project_task_path(project,task)
\|
= link_to 'Back', project_tasks_path
