= simple_form_for project do |f|
  - if project.errors.any?
    #error_explanation
      %h2= "#{pluralize(project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - project.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.input :name
  .form-group
    = f.input :description
  .form-group
    = f.input :starts_at, as: :string, input_html: {class: 'datetimepicker'}
  .form-group
    = f.input :ends_at, as: :string, input_html: {class: 'datetimepicker'}
  .form-group
    = f.association :users, as: :check_boxes, label_method: :email, value_method: :id, collection: @users
  .actions.form-group
    = f.submit 'Save'
