-provide(:title, 'Projects')

%table.responstable
  %thead
    %tr
      %th Name
      %th Description
      %th Starts at
      %th Ends at
      %th


  %tbody
    - projects.each do |project|
      %tr
        %td= project.name
        %td= project.description
        %td= project.start_date
        %td= project.end_date
        %td
          = link_to 'Show', project
          - if project.is_owner?(current_user)
            = link_to 'Edit', edit_project_path(project)
            = link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }


%br
- if user_signed_in?
  = link_to 'New Project', new_project_path
