%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.description
%p
  %b Starts at:
  = @project.starts_at
%p
  %b Ends at:
  = @project.ends_at

= render 'comments/form', resource: 'project', resource_id: @project.id

= render @project.comments

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
