-provide(:title, project.name)
%p#notice= notice

%table.table.table-striped
  %tbody
    %tr
      %td Name:
      %td= project.name
    %tr
      %td Description:
      %td= project.description
    %tr
      %td Starts at
      %td= project.start_date
    %tr
      %td Ends at
      %td= project.end_date


= render 'projects/tasks'

= render 'comments/form', obj: project.comments.build

= render 'comments/comment'

= link_to 'Edit', edit_project_path(project)
\|
= link_to 'Back', projects_path
