-provide(:title, project.name)
%p#notice= notice

%table.responstable
  %tbody
    %tr
      %td Name:
      %td= project.name
    %tr
      %td Description:
      %td= project.description
    %tr
      %td Starts at
      %td= project.start_date
    %tr
      %td Ends at
      %td= project.end_date

-if project.has_member?(current_user)
  = render 'projects/tasks'
  = render 'comments/comment'
  = render 'comments/form', obj: project.comments.build

-if project.is_owner?(current_user)
  = link_to 'Edit', edit_project_path(project)
  \|
= link_to 'Back', projects_path
