%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target"=>"#navbarasd", "data-toggle"=>"collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "GuruTracker", root_path, :class => "navbar-brand"
    #navbarasd.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
        - if user_signed_in?
          %li
            = link_to "Projects", projects_path
          %li
            = link_to "Users", users_path
          %li
            = link_to "Your profile", user_path(current_user.id)
          %li
            = link_to "Sign out", destroy_user_session_path, {:method => :delete}
        - else
          %li
            = link_to "Sign up", new_user_registration_path
          %li
            = link_to "Login", new_user_session_path
